In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('C:\\Users\\ljens\\OneDrive\\Documents\\Spartan Pulse\\analytics\\subscribed_members_export_2137c5a3d8.csv')

In [24]:
str(list(df['TAGS'].unique())).replace("'","").replace('[','').replace(']','')

'"SS2022","students", "2021","students", "students","FS2022", "Faculty&Staff", "students","2021","Member", "Faculty&Staff","2021","Member", nan'

In [28]:
tags = ["SS2022","students", "2021","FS2022", "Faculty&Staff", "Member"]

In [32]:
df['TAGS'].describe()

count                   242
unique                    6
top       "2021","students"
freq                    136
Name: TAGS, dtype: object

In [37]:
tags

['SS2022', 'students', '2021', 'FS2022', 'Faculty&Staff', 'Member']

In [57]:
df['TAGS'] = df['TAGS'].apply(lambda x: str(x).replace('"','').split(','))

In [74]:
df['TAGS'].tolist()

[['SS2022', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['SS2022', 'students'],
 ['Faculty&Staff'],
 ['Faculty&Staff'],
 ['students', 'FS2022'],
 ['SS2022', 'students'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['Faculty&Staff'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['students', 'FS2022'],
 ['SS2022', 'students'],
 ['students', 'FS2022'],
 ['students', 'FS2022'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['Faculty&Staff'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['students', 'FS2022'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['students', 'FS2022'],
 ['Faculty&Staff'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['students', '2021', 'Member'],
 ['Faculty&Staff', '2021', 'Member'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['Faculty&Staff'],
 ['students', 'FS2022'],
 ['students', 'FS2022'],
 ['Faculty&Staff'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['nan'],
 ['students', 'FS2022'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['SS2022', 'students'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['Faculty&Staff'],
 ['students', 'FS2022'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['Faculty&Staff'],
 ['students', 'FS2022'],
 ['SS2022', 'students'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['SS2022', 'students'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['SS2022', 'students'],
 ['SS2022', 'students'],
 ['Faculty&Staff'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['nan'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['students', 'FS2022'],
 ['Faculty&Staff'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['students', 'FS2022'],
 ['2021', 'students'],
 ['SS2022', 'students'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['Faculty&Staff'],
 ['2021', 'students'],
 ['2021', 'students'],
 ['2021', 'students']]

In [73]:
pd.DataFrame(df['TAGS'].tolist())

                 0         1     2
0           SS2022  students  None
1             2021  students  None
2             2021  students  None
3         students    FS2022  None
4             2021  students  None
..             ...       ...   ...
239           2021  students  None
240  Faculty&Staff      None  None
241           2021  students  None
242           2021  students  None
243           2021  students  None

[244 rows x 3 columns]

In [75]:
pd.DataFrame(df['TAGS'].tolist()).stack()

0    0      SS2022
     1    students
1    0        2021
     1    students
2    0        2021
            ...
241  1    students
242  0        2021
     1    students
243  0        2021
     1    students
Length: 461, dtype: object

In [77]:
pd.DataFrame(df['TAGS'].tolist()).stack().str.get_dummies()

       2021  FS2022  Faculty&Staff  Member  SS2022  nan  students
0   0     0       0              0       0       1    0         0
    1     0       0              0       0       0    0         1
1   0     1       0              0       0       0    0         0
    1     0       0              0       0       0    0         1
2   0     1       0              0       0       0    0         0
...     ...     ...            ...     ...     ...  ...       ...
241 1     0       0              0       0       0    0         1
242 0     1       0              0       0       0    0         0
    1     0       0              0       0       0    0         1
243 0     1       0              0       0       0    0         0
    1     0       0              0       0       0    0         1

[461 rows x 7 columns]

In [79]:
pd.DataFrame(df['TAGS'].tolist()).stack().str.get_dummies().groupby(level=0).sum()

     2021  FS2022  Faculty&Staff  Member  SS2022  nan  students
0       0       0              0       0       1    0         1
1       1       0              0       0       0    0         1
2       1       0              0       0       0    0         1
3       0       1              0       0       0    0         1
4       1       0              0       0       0    0         1
..    ...     ...            ...     ...     ...  ...       ...
239     1       0              0       0       0    0         1
240     0       0              1       0       0    0         0
241     1       0              0       0       0    0         1
242     1       0              0       0       0    0         1
243     1       0              0       0       0    0         1

[244 rows x 7 columns]

In [82]:
df = df.join(pd.DataFrame(df['TAGS'].tolist()).stack().str.get_dummies().groupby(level=0).sum())

In [84]:
df.to_csv('./subscribed_members.csv')